h1 {
  font-size: 3em;
}

section.logos {
  margin-top: 40px;
  text-align: center;
}

section.configuration {
  margin-top: 60px;
  text-align: center;
}

.configuration input {
  font-size: 2em;

}

.more-options {
  padding-top: 20px;
  font-size: 16px;
}

.more-options input {
  margin-right: 8px;
}

.save-options {
  margin-top: 20px;
}

.btn {
  background-color: #3cbd70;
  border-color: #36aa65;
  color: #fff;
  border-radius: 3px;
  font-size: 2em;
  font-weight: 400;
  padding: 10px 14px;
  display: inline-block;
}
