body.pinuki-pinned header.navbar-gitlab {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e5e5e5;
}

body.pinuki-pinned .page-with-sidebar {
  padding-top: 50px;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
